# Ignorar carpeta de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar binarios de compilación
bin/
obj/

# Flutter build cache
build/
.dart_tool/
.packages
.pub-cache/

# Archivos del sistema
*.log
.DS_Store
Thumbs.db